.dashboard-layout {
  margin: 0% 1% 1% 1%;
}

.graph-container {
  border-radius: 15px;
  margin: 1%;
  padding: 1%;
  background-color: white;
}

@media (max-width: 700px) {
  .graph-container {
    margin: 3%;
  }
}
