.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: midnightblue;
  height: 8vh;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  padding: 2%;
}

.left-container h2 {
  font-size: 18px; /* Tamaño de fuente basado en el ancho de la ventana */
  font-weight: 700;
  color: white;
}

@media (max-width: 900px) {
  .left-container h2 {
    font-size: 12px;
  }
}

.mid-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  padding: 5px 0px 5px 0px;
}

@media (max-width: 715px) {
  .mid-container {
    padding: 5px;
    margin-left: 3%;
  }
}

.mid-container .faSearch {
  position: absolute;
  left: 12px;
  top: 50%;
  height: 12px;
  transform: translateY(-50%);
  z-index: 10;
}

@media (max-width: 715px) {
  .mid-container .faSearch {
    left: 15px;
  }
}

.search-bar {
  width: 100%;
  padding: 5px 2px 5px 30px; /* Aumentar el padding izquierdo */
  border-radius: 15px;
}

.right-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 8%;
  width: 20%;
}

@media (max-width: 715px) {
  .right-container {
    gap: 15%;
  }
}

.right-container .faBell,
.right-container .faQuestion,
.right-container .faEllipsisVertical {
  color: white;
}