.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 9vh;
  align-items: center;
}

.left-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3%;
}

.left-container h2 {
  font-size: 25px; /* Tamaño de fuente basado en el ancho de la ventana */
  font-weight: 700;
  color: black;
}

@media (max-width: 900px) {
  .left-container h2 {
    font-size: 15px;
  }
  .left-container p {
    font-size: 12px;
  }
}
