.left-menu {
  width: 250px;
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s;
  background-color: white;
}

.menu-header {
  display: flex;
  height: 7vh;
  align-items: center;
}

.company-logo {
  flex: 1; /* Ocupa todo el espacio disponible */
  width: 85%; /* Ajusta el ancho al contenedor */
  height: 85%; /* Ajusta la altura al contenedor */
  object-fit: contain; /* La imagen se ajustará para cubrir completamente el contenedor */
}

.menu-element-container {
  flex-grow: 1; /* Permite que este elemento ocupe el espacio disponible */
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 50px;
}

.menu-element-container::-webkit-scrollbar {
  display: none;
}

.menu-items,
.menu-items2 {
  list-style: none;
  width: 90%;
  align-items: center;
  background-color: rgb(237, 230, 230);
  border-radius: 15px;
}

.menu-items2 {
  background-color: transparent;
  padding-top: 30px;
}

.menu-item {
  display: flex; /* Activa Flexbox */
  align-items: center;
  padding: 2px;
  cursor: pointer;
  padding-left: 20%;
  margin-bottom: 10px; /* Adjust this value to add more space */
}

.text-menu span {
  font-weight: bold;
}

.menu-item:hover {
  border-radius: 10px;
  background-color: orange;
  color: black;
}

.menu-item:hover svg {
  color: black;
}

.menu-item.active,
.menu-item:hover {
  border-radius: 10px;
  background-color: orange;
  color: black;
}

.menu-item.active svg,
.menu-item:hover svg {
  color: black;
}

.menu-item svg {
  width: 12px;
  margin-right: 20px;
  color: black;
  height: 40px;
}

.menu-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-footer {
  display: flex;
  height: 5%;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 10px 20px;
}

.ft-ico {
  font-size: 25px;
}

.profile-card-info {
  display: flex;
  flex: 1;
  flex-direction: column; /* Organiza los elementos verticalmente */
}

.profile-card-info h1 {
  font-size: 13px;
  transform: scaleX(1.02); /* Escala horizontalmente */
}

.profile-card-info span {
  font-size: 10px;
}

.profile-card-info h1,
.profile-card-info span {
  margin: 0; /* Elimina los márgenes para evitar espacios entre elementos */
}

@media (max-width: 768px) {
  /*COLLAPSED MENU*/
  .left-menu.collapsed {
    width: 60px; /* Ancho reducido para el menú colapsado */
    padding-top: 5px;
  }

  .menu-header.collapsed {
    padding-top: 5px;
  }

  .faBars.collapsed {
    color: black;
    font-size: 10px;
  }

  .menu-footer.collapsed {
    width: auto;
    padding: 10px 0px 20px 0px;
  }

  .profile-card-info.collapsed {
    align-items: start;
  }

  .profile-card-info.collapsed h1 {
    font-size: 11px;
  }

  .menu-ico.collapsed {
    height: 20px;
    width: 15px;
    padding-top: 10px;
  }

  .text-menu.collapsed span {
    display: none;
  }

  .menu-item.collapsed {
    padding-left: 40%;
  }

  .menu-items.collapsed {
    padding: 10px 0px 10px 0px;
    background-color: transparent;
  }

  .ft-ico.collapsed {
    display: none;
  }
}
